{% extends 'base.html' %}

{% block title %}Anasayfa {% endblock %}

{% block content %}


<div class="container pt-5">
    <div class="d-flex">
        {% if True %}
        <a class="btn btn-primary" href="/">Anasayfa</a>
        <a class="btn btn-primary mx-3" href="/team">Ekibimiz</a>
        <a class="btn btn-primary " href="/news">Haberler</a>
        <a class="btn btn-primary mx-3" href="/shop">Mağaza</a>
        <a class="btn btn-secondary" href="/login">Giriş Yap</a>
        <a class="btn btn-secondary mx-3" href="/register">Kayıt Ol</a>
        {% else %}
        <a class="btn btn-danger" href="/logout">Çıkış Yap</a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
      Batuhan Erol
    </div>
    <div class="card-body">
      <h5 class="card-title">Bir haberin üst açıklaması</h5>
      <p class="card-text">Bir Haberin alt açıklaması</p>
      <a href="#" class="btn btn-primary">Devamı...</a>
    </div>
  </div>

{% endblock %}