{% extends 'base.html' %}

{% block title %}Ekibimiz {% endblock %}

{% block content %}

<div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Batuhan Erol</h2>
          <p class="title">CEO &amp; Kurucu</p>
          <p>Kısa bir bilgilendirme yazısı</p>
          <p>info@batuhanerol.com.tr</p>
          <p><button class="button">İletişim</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>İsim Soyisim</h2>
          <p class="title">Yönetici &amp; Eş Kurucu</p>
          <p>Kısa bir bilgilendirme yazısı.</p>
          <p>info@batuhanerol.com.tr</p>
          <p><button class="button">İletişim</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>İsim Soyisim</h2>
          <p class="title">Yönetici &amp; Eş Kurucu</p>
          <p>Kısa bir bilgilendirme yazısı</p>
          <p>info@batuhanerol.com.tr</p>
          <p><button class="button">İletişim</button></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}